.footer{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.footer h1{
font-family: 'MonsterHunter', sans-serif;
font-size: 36px;
margin-bottom: 10px;
}
.footer p{
    font-family: 'Arial', sans-serif; 
    font-size: 18px;
    color: #5c5c5c; 
  }