.monsterBody {
    padding-left: 55px;
}

h1 {
    text-align: center;
}

.monsterTable {
    border: 1px black solid;
    width: 96%;
    align-content: center;
}

.monsterTable td {
    border: 1px black solid;
    padding: 10px;
    text-align: center;
}